  
  <mat-card class="example-card">
    <mat-card-title>Editar Usuario</mat-card-title>
    <mat-card-subtitle>Edite los datos y luego presione el botón Guardar</mat-card-subtitle>
    <mat-card-content>
       
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput placeholder="Codigo" value="{{id}}" readonly="true">
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <textarea matInput placeholder="Escriba el nomnbre del usuario" [(ngModel)]="username" name="username"></textarea>
          </mat-form-field>

          


          <mat-form-field  class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Introduzca la seña" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
  
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="guardarUsuario()">Guardar</button>
      <button mat-raised-button routerLink="/consultarusuario">Volver</button>
    </mat-card-actions>
  </mat-card>
