
<!--Toolbar-->

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


<!--Sidenav-->
<mat-drawer-container class="example-container">
  <mat-drawer  class="example-navlist" mode="side" opened >
    <mat-nav-list >
      
      <a mat-list-item [routerLink]="'consultarciudad'"> Ciudades </a>
      <a mat-list-item [routerLink]="'consultarlibro'"> Libros </a>
      <a mat-list-item [routerLink]="'consultarcliente'"> Clientes </a>
      <a mat-list-item [routerLink]="'consultarautor'"> Autores</a>
      <a mat-list-item [routerLink]="'consultarusuario'"> Usuarios</a>

    </mat-nav-list>
    </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>